@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #43c900;
	margin: 20px;
}

.jumpers
{
	text-align: center;
}

.jumpers img
{
	width: 100%;
	height: auto;
}

.jumpers p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}

/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

.navbar
{
	min-height: 57px;
}

.bg-jumpers
{
	background-color: #43c900 !important;
}

.wpis
{
	text-align: justify;
	font-size: 16px;
	padding: 30px;
	margin-bottom: 40px;
}

.list-group-item-dark
{
	background-color: #373a3d;
	color: white;
}

.list-group-item-dark:hover
{
	background-color: #43c900 !important;
	color: white;
}

.list-group .active
{
	background-color: #43c900 !important;
	cursor: default;
}

.blockquote
{
	line-height: 120%;
}

@media (max-width: 575px)
{
	.wpis
	{
		margin: 40px 20px;
		text-align: left;
		font-size: 15px;
	}

	.float-left,  .float-right
	{
		max-width: 50%;
	}

	.blockquote
	{
	line-height: 120%;
	font-size: 17px;
	}

	.list-group
	{
		text-align: center;
	}
}


.sm a{
    display: inline-block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin: 0 10px;
    transition: .4s linear;
    position: relative;
  }
  
  .sm a::before, .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
  }
  
  .sm a:hover{
    transform: scale(.8);
  }
  
  .sm a:hover::before{
    border-left: 2px solid;
    border-right: 2px solid;
    transform: skewX(20deg);
  }
  
  .sm a:hover::after{
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewY(-20deg);
  }